body{
background-color: #f3f3f3;
font-family:'Montserrat',sans-serif;
color:#1F2937;
margin: 0;
padding: 0;
}

header{
    background-color: #084298;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0px;
    
}

header h1{
    margin: 0;
    font-size: 30px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 55px;
    height: 55px;
}

.logo-text h1{
    margin: 0;
    font-size: 28px;
}

.logo-text p{
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 30px;
    margin: 0;

}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
}

.service-card {
    background-color: rgb(255, 255, 255);
    width: 230px;
    padding: 22px;
    border: 2px solid #084298;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.service-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

#services h2{
    text-align: center;
    padding: 10px;
}

#hero {

    background-image: url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    padding: 80px 20px;
    height: 300px;
}

#hero h2{
    font-size: 30px;
    color: #ffffff;
}

#hero p {
    font-size: 16px;
    color: #d6d6d6;
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    
}

section{
    padding:40px 20px;
}

#contact {
    background: #F8F9FA;
    text-align: center;
    padding: 10px;
}

footer{

    background:#084298;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
    padding:5px;
    height: 20px;
    font-size: 10px;
    

}