body{
background-color: #f3f3f3;
font-family:'Montserrat',sans-serif;
color:#1F2937;
margin: 0;
padding: 0;
}

header{
    background-color: #084298;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px 20px;
    font-family: 'Montserrat', sans-serif;
    position: sticky;
    top: 0;
    box-shadow: 0 2px 12px rgba(0,0,0,.10);
    z-index: 1000;
    
}

header h1{
    margin: 0;
    font-size: 30px;
}

.logo{
    display: flex;
    align-items: center;
    gap: 12px;
}

.logo img{
    width: 55px;
    height: 55px;
}

.logo-text h1{
    margin: 0;
    font-size: 28px;
}

.logo-text p{
    margin: 0;
    font-size: 15px;
    color: #ffffff;
    font-weight: bold;
}

nav{
    display: flex;
    gap: 30px;
    margin: 0;

}

nav a{
    color: white;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    position: relative;
    transition: .3s;
    position: relative;
}

nav a:hover{
    color: #dbb04d;
}

nav a::after{
    content: "";
    position: absolute;
    width: 0;
    height: 2px;
    left: 0;
    bottom: -5px;
    transition: width .3s ease;
    background: #f3f3f3;
    display: block;
}

nav a:hover::after{
    width: 100%;
}

#hero {

    background: linear-gradient(rgba(0,0,0,0.20), rgba(0,0,0,0.80)),url("../images/hero.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    text-align: center;
    min-height:80vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items: center;
    
}

.hero-tag{
    display: inline-block;
    background-color: rgba(255,255,255,0.15);
    color: white;
    padding: 8px 18px;
    border-radius: 50px;
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1px;
    margin-bottom: 20px;
}

#hero h2{
    font-size: 40px;
    line-height: 1.2;
    margin-bottom: 20px;
    color: white;
}

#hero p {
    font-size: 18px;
    max-width: 600px;
    margin: 0 auto;
    line-height: 1.7;
    color: #d6d6d6;
}


.hero-buttons{
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 35px;
}

.btn-primary{
    background-color: #f0f0f0;
    color: rgb(0, 0, 0);
    text-decoration: none;
    padding: 14px 28px;
    border-radius: 10px;
    font-weight: bold;
    transition: 0.3s;
    width: 120px;
    

}

.btn-primary:hover{
    background-color: #0b5ed7;
    color: white;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.btn-secondary{
    background: transparent;
    color: white;
    text-decoration: none;
    padding: 14px 28px;
    border: 2px solid white;
    border-radius: 8px;
    font-weight: bold;
    transition: 0.3s;
    width: 120px;
}

.btn-secondary:hover{
    background-color: white;
    color: #084298;
    transform:translateY(-3px);
    box-shadow:0 8px 20px rgba(0,0,0,.25);
}

.services-container{
    display: flex;
    justify-content: center;
    gap: 25px;
    flex-wrap: wrap;
    align-items: center;
    
}

.service-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgb(255, 255, 255);
    padding: 22px;
    border: 2px solid #084298;
    border-radius: 12px;
    text-align: center;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    width: 230px;
    color: white;
    height: 260px;
}
.service-card h3{
    color: #ffffff;
    font-weight: bold;
    font-size: 30px;
    text-shadow: 2px 8px 20px rgba(0,0,0,1);
    border: 1px solid;
    padding: 10px;
    border-radius: 10px;

}

.service-card:hover{
    transform: scale(1.05);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
    border-color:#FFD166;
}

.family-card{
    background: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.80)),url("../images/family.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.visit-card{
    background: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.80)),url("../images/visit.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.medical-card{
    background: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.80)),url("../images/medical.jpeg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.attestation-card{
    background: linear-gradient(rgba(0,0,0,0.20),rgba(0,0,0,0.80)),url("../images/attestation.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

#services h2{
    text-align: center;
    padding: 10px;
}

section{
    padding:40px 20px;
}

.why-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 25px;
    gap: 25px;
    background-color: white;
    border-radius: 12px;
}

#why h2{
    text-align: center;
    padding: 10px;
}

.whyus{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 230px;
    background-color: rgb(255, 255, 255);;
    padding: 22px;
    border: 2px solid;
    height: 260px;
    text-align: center;
    border-radius: 12px;
    
}

#contact {
    background: #F8F9FA;
    text-align: center;
    padding: 10px;
}

footer{

    background:#084298;
    color:white;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align:center ;
    padding:5px;
    height: 20px;
    font-size: 10px;
    

}